<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="monkey things">
    <meta name="author" content="dorktron">
    <title>MonkeyWebBall</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap core CSS -->
    <link href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://v4-alpha.getbootstrap.com/examples/navbar/navbar.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </head>

  <body>

    <div class="container">

      <div class="collapse" id="navbar-header">
        <div class="inverse p-a">
          <h3><%= link_to "Datas", datas_path %></h3>
        </div>
      </div>
      <div class="navbar navbar-light style="background-color: #e3f2fd;" navbar-static-top">
        <h1><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header">
          ☰
        </button>
        <%= link_to "Houston Monkeys", root_path, class: "nav-link" %></h1>

      </div>


      <!-- Main component for a primary marketing message or call to action -->
        <%= yield %>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || <document class="write"></document><script src="http://v4-alpha.getbootstrap.com/assets/js/vendor/jquery.min.js"></script></script>
    <script src="http://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>


  </body>
</html>
