<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3"><%= @monkey.name %></h1>
    <p class="lead">
      <h1 class="display-4">Incoming Traits</h1>
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-sm table-striped">
          <tr>
            <td>Expectations</td>
            <td><%= @monkey.learning_accommodations %></td>
          </tr>
          <tr>
            <td>Learning Accommodations</td>
            <td><%= @monkey.learning_accommodations %></td>
          </tr>
          <tr>
            <td>Live Problem Solving</td>
            <td><%= @monkey.live_problem_solving %></td>
          </tr>
          <tr>
            <td>Efforts to Date</td>
            <td><%= @monkey.efforts_to_date %></td>
          </tr>
          <tr>
            <td>Current Skills</td>
            <td><%= @monkey.current_skills %></td>
          </tr>
          <tr>
            <td>Years Employment</td>
            <td><%= @monkey.years_employment %></td>
          </tr>
        </table>
      </div>
    </p>
  </div>
</div>
